.place__title {
    text-align: left;
    line-height: 76px;
    font-size: 72px;
    font-weight: black;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__title {
        line-height: 46px;
        font-size: 42px;
    }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .place__title {
        line-height: 35px;
        font-size: 32px;
    }
}