.header__logo {
    background-image: url(../../../images/logo.png);
    width: 176px;
    height: 52px;
    justify-self: flex-start;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}