.place__link-caption {
    text-align: left;
    line-height: 12px;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
    color: #aaa;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .place__link-caption {
        margin-left: 16px;
    }
}