.place__link {
    text-align: left;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .place__link {
        margin-left: 16px;
    }
}