.footer {
    display: flex;
    width: 92.5%;
    margin: 92px auto 24px;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 90.6%;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 93.7%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .footer {
        max-width: 58.1%;
        margin-top: 64px;
        margin-left: 16px;
        flex-direction: column;
    }
}